<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bunifu.UI.WinForms" version="4.1.1" targetFramework="net472" />
  <package id="DocumentFormat.OpenXml" version="2.11.3" targetFramework="net461" />
  <package id="MaterialSkin" version="0.2.1" targetFramework="net472" />
  <package id="Nix.CompoundFile" version="0.1.0" targetFramework="net461" />
  <package id="Nix.SpreadSheet" version="0.2.0" targetFramework="net461" />
  <package id="SpreadsheetLight" version="3.5.0" targetFramework="net461" />
  <package id="System.Drawing.Common" version="5.0.0" targetFramework="net461" />
  <package id="System.IO.FileSystem.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.IO.Packaging" version="4.7.0" targetFramework="net461" />
</packages>